@import 'App.css';

.my_playlist {
    padding: 32px;
}

.title {
    display: flex;
    align-items: center;
    gap: 24px;
    color: #faebd7;
}

.title h1 {
    font-size: 48px;
}

.title i {
    font-size: 32px;
}

.title i:hover {
    opacity: 0.8;
    cursor: pointer;
}

.line {
    margin-top: 16px;
    width: 100%;
    height: 3px;
    background-color: #faebd7;
}