@import 'App.css';

.playlist_box {
    padding: 8px;
    margin-top: 16px;
    width: 60%;
    height: 100px;
    background: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    color: #faebd7;
}

.playlist_box.small {
    padding: 16px;
    margin-top: 8px;
    width: 100%;
    background: #131313;
}

.playlist_box > div {
    display: flex;
    align-items: center;
}

.playlist_box .index {
    margin-left: 16px;
    width: 20px;
    font-weight: 600;
    font-size: 20px;
}

.playlist_box .heading {
    margin-left: 32px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.playlist_box .heading.small {
    margin-left: 0;
}

.playlist_box .heading img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.playlist_box .heading.small img {
    width: 60px;
    height: 60px;
}

.playlist_box .heading a {
    color: #faebd7;
    text-decoration: none;
}

.playlist_box .heading a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.playlist_box .s_count {
    margin-left: 72px;
    font-size: 18px;
}

.playlist_box i {
    font-size: 32px;
    margin-right: 16px;
}

.playlist_box .delete {
    padding: 8px;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    background-color: #707070cc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist_box .delete:hover {
    opacity: 0.8;
    cursor: pointer;
}

