@import 'App.css';

.artist {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 250px;
}

.info_box {
    display: flex;
    align-items: center;
    width: 60%;
    gap: 32px;
}

.info_box .pic {
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
}
  
.info_box .pic img {
    width: 100%;
    height: 100%;
}
  
.info_box .info {
    width: 200px;
    color: #faebd7;
}
  
.info_box .info h2 {
    font-size: 20px;
    margin-bottom: 12px;
}
  
.info_box .info p {
    margin-top: 4px;
}
  
.song_display {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
  
.song_display > p {
    overflow: hidden;
    text-align: center;
    color: #faebd7;
}
  
.song_display > p:before,
.song_display > p:after {
    background: #faebd7;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
  
.song_display > p:before {
    right: 0.5em;
    margin-left: -50%;
}
  
.song_display > p:after {
    left: 0.5em;
    margin-right: -50%;
}

.song_display .song {
    width: 100%;
    height: 90%;
}